In [2]:
import numpy as np 
import pandas as pd

In [5]:
df=pd.read_csv('covid_toy.csv')

In [7]:
df.head(5)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [9]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [10]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [13]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [15]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [16]:
df.duplicated().sum()

1

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
df.shape

(99, 6)

# Simple way of doing Encoding

In [33]:
from sklearn.model_selection import train_test_split
#So, df.drop('has_covid', axis=1) means that you are dropping the column named 'has_covid'
#from the DataFrame df 
 #axis=1 refers to column name which you want to drop
X_train,X_test,y_train,y_test=train_test_split(df.drop('has_covid',axis=1),
                                              df['has_covid'],
                                              test_size=0.2)

In [34]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

In [35]:
si=SimpleImputer()
X_train_fever=si.fit_transform(X_train[['fever']])
X_test_fever=si.fit_transform(X_test[['fever']])

In [36]:
# X_train_fever

(79, 1)

In [39]:
X_train_fever.shape

(79, 1)

In [40]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [41]:
ohe=OneHotEncoder(drop='first',sparse=False)
X_train_gender_city=ohe.fit_transform(X_train[['gender','city']])
X_test_gender_city=ohe.fit_transform(X_test[['gender','city']])

C:\Users\ABC\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\ABC\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [44]:
X_train_gender_city.shape

(79, 4)

In [46]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough=oe.fit_transform(X_train[['cough']])
X_test_cough=oe.fit_transform(X_test[['cough']])

In [50]:
X_train_cough.shape

(79, 1)

In [52]:
# concatenate all the columns but first extract age columns from X_train
X_train_age=X_train.drop(columns=['gender','fever','cough','city'])
X_test_age=X_test.drop(columns=['gender','fever','cough','city'])

In [54]:
X_train_age.shape

(79, 1)

In [56]:
 # now concatenate all the columns
X_train_transform=np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1) 
X_test_transform=np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

In [59]:
X_train_transform.shape

(79, 7)

# Column Tranformer

In [61]:
from sklearn.compose import ColumnTransformer

In [70]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OneHotEncoder(sparse=False,drop='first'),['gender','city']),
    ('tnf3',OrdinalEncoder(categories=[['Mild','Strong']]),['cough'])
    
],remainder='passthrough')

In [72]:
transformer.fit_transform(X_train).shape

C:\Users\ABC\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(79, 7)

In [74]:
transformer.fit_transform(X_test).shape

C:\Users\ABC\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(20, 7)